# Default button- and keybindings.

# Button binding definition line:
# <Button action> <Modifiers> <Button> <Action>
#
# Key binding definition line:
# <Key action> <Modifiers> <Key> <Action>
#
# <Button action>:
#  MouseDown, MouseUp, MouseDouble, MouseIn, MouseOut
#
# <Key action>:
#  KeyDown, KeyUp
#
# <Modifiers>: One or more of
#  -   None
#  *   Any
#  A   Alt     (=modifier 1)
#  C   Ctrl
#  S   Shift
#  W   Windows (=modifier 4)
#  1-5 Modifier 1-5
#
# <Button>:
#  Button number
#
# <Key>:
#  Key name
#
# <Action>:
#  Any IPC action. Use "eesh help full" to see possibilities.


# Global button bindings... specially named actionclass that applies to
# all client windows - so you can bind "alt - left click" to move the
# window, raise it or something....
Aclass BUTTONBINDINGS normal
MouseDown   A  1 wop * mo ptr
MouseDown   SA 1 wop = mo ptr
MouseDouble A  1 wop * shade
MouseDown   A  2 wop * sz ptr
MouseDouble A  2 wop * th available
MouseDown   A  3 menus show winops.menu
# May be used to control opacity with mouse
#MouseDown   A  4 wop * focused_opacity +10
#MouseDown   A  5 wop * focused_opacity -10
#MouseDown   CA 4 wop * opacity +10
#MouseDown   CA 5 wop * opacity -10

MouseDown   W  4 area move -1 0
Tooltip Go back a desktop
MouseDown   W  5 area move 1 0
Tooltip Go forward a desktop

# Mouse presses on the desktop background ....
Aclass DESKBINDINGS normal
Tooltip Clicking your mouse on the desktop will perform
Tooltip the following actions
MouseDown   -  1 menus show file.menu
Tooltip Display User menus
MouseDown   C  1 menus show settings.menu
Tooltip Display Enlightenment menu
MouseDown   4  1 menus show settings.menu
Tooltip Display Settings menu
MouseDown   -  2 menus show settings.menu
Tooltip Display Enlightenment menu
MouseDown   A  2 menus show windowlist
Tooltip Display Task List menu
MouseDown   C  2 menus show deskmenu
Tooltip Display Desktop menu
MouseDown   S  2 menus show groupmenu
Tooltip Display Group menu
MouseDown   -  3 menus show settings.menu
Tooltip Display Settings menu

MouseDown   W  4 area move -1 0
Tooltip Go back a desktop
MouseDown   W  5 area move 1 0
Tooltip Go forward a desktop


# Default keybindings
Aclass KEYBINDINGS global
KeyDown   CA  Home desk arrange size
#KeyDown   CA  Delete exit logout
KeyDown   W   R exit restart
KeyDown   CA  Right desk next
KeyDown   CA  Left desk prev
KeyDown   CA  Return desk this
#KeyDown   SA  Down area move 0 1
#KeyDown   SA  Up area move 0 -1
#KeyDown   SA  Left area move -1 0
#KeyDown   SA  Right area move 1 0
KeyDown   W   1 area goto 0
KeyDown   W   2 area goto 1
KeyDown   W   3 area goto 2
KeyDown   W   4 area goto 3
#KeyDown   W   5 desk goto 4
#KeyDown   W   6 desk goto 5
#KeyDown   W   7 desk goto 6
#KeyDown   W   8 desk goto 7
KeyDown   A   Tab focus next
#KeyDown   C   Tab warp screen
KeyDown   CA  Up wop * raise
KeyDown   CA  Down wop * lower
KeyDown   W   f wop * toggle_size absolute
KeyDown   CA  i wop * iconify
KeyDown   W   k wop * kill
KeyDown   CA  m wop * ts conservative
KeyDown   CA  p wop * pin on *
KeyDown   CA  q wop * pin off *
KeyDown   CA  r wop * shade
KeyDown   CA  s wop * stick
KeyDown   CA  w menus show winops.menu
KeyDown   W   Q wop * close
KeyDown   A   Return wop * zoom
# Move/resize using keyboard
KeyDown   A   m wop * move kbd
KeyDown   A   s wop * size kbd
KeyDown   CS  F1 menus show file.menu
KeyDown   CS  F2 menus show settings.menu
KeyDown   CS  F4 menus show windowlist
# The previously "unchangable" keybindings
KeyDown   CA  a button_show all
KeyDown   CA  b button_show
KeyDown   CA  c button_show buttons CONFIG*

# === USER ===

# Alacritty
KeyDown   W   T exec alacritty
KeyDown   W   E exec sh -c "alacritty -e yazi"
KeyDown   W   P exec sh -c "alacritty -e wiremix -v output"

# Telegram
KeyDown   W   A exec flatpak run com.ayugram.desktop

# Browser
KeyDown   W   B exec brave

# Settings
KeyDown   W   I cfg

# Move the window to other area
KeyDown   SW  1 wop * area 0
KeyDown   SW  2 wop * area 1
KeyDown   SW  3 wop * area 2
KeyDown   SW  4 wop * area 3

# Rofi
KeyDown   W   D exec rofi -show drun
KeyDown   W   V exec clipcat-menu insert
KeyDown   WS  V exec clipcat-menu remove
KeyDown   CA  Delete exec rofi -show power-menu

# Audio control
KeyDown   -   XF86AudioRaiseVolume exec wpctl set-volume --limit 1.0 @DEFAULT_AUDIO_SINK@ 0.1+
KeyDown   -   XF86AudioLowerVolume exec wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-
KeyDown   -   XF86AudioMute        exec wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle

# Screenshot
KeyDown   A   Print   exec sh -c "maim -u -i $(xdotool getactivewindow) | xclip -selection clipboard -t image/png && xkbbell"
KeyDown   S   Print   exec sh -c "maim -u -s | xclip -selection clipboard -t image/png && xkbbell"
KeyDown   C   Print   exec sh -c "maim -u | xclip -selection clipboard -t image/png && xkbbell"
